<% title "Vendors" %>

<%= will_paginate(@vendors) %>
<table>
  <tr>
    <th>Vendor</th>
  </tr>
  <% for vendor in @vendors %>
    <tr>
      <td><%= link_to h(vendor.name), vendor %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate(@vendors) %>
